{% extends 'base.html'%}
{% block content %}
<div class="container">
    <div>
        <div>
            <strong>{{user.first_name}} {{user.last_name}}</strong>
        </div>
        <div>
            <p>{{user.username}}</p>
        </div>
        {%if user.bio%}
        <p>{{user.bio}}</p>
        {%else%}
        <p>No bio</p>
        {%endif%}
    </div>
    <div class="col-md-12">
        <div>
            {%for blog in blogs[::-1]%}
            <div>
                {%if current_user.is_authenticated%}
                <div style="float: right; padding-bottom: 50px">
                    <a href="{{url_for('main.edit_blog', id = blog.id)}}" class="btn btn-outline-success btn-sm"></a>
                    <a href="{{url_for('main.delete_blog', id = user.id, blog_id = blog.id)}}" class="btn btn-outline-danger btn-sm"></a>
                </div>
                {%endif%}
                <a href="{{url_for('main.blog', id = blog.id)}}">
                    <h2>
                        {{blog.blog_title}}
                    </h2>
                    <h3>
                        {{blog.blog_content | truncate(50)}}
                    </h3>
                </a>
                <div class="blog-meta">Posted by
                    <a href="/profile/{{blog.user_id}}">{{blog.post_by}}</a>
                    on {{blog.posted_at.strftime('%B %d, %Y')}}
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    
</div>

{%endblock%}
