{% extends 'base.html'%}

{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-lg-12 col-md-12 col-sm-12'>
            <div class='header'>
                </i><p class="text-center" style="font-size:20px; margin-top:50px;"><em>"{{quote.quote}}"</em></p>
                <p class="text-center" style="font-size:20px;" >~{{quote.author}}</p>
            </div>
        </div>
    </div>
</div>
<div class='container'>
    <div class='row'>
        <div class = 'col'>
            <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                {% for blog in Blogs %}
                <a href='{{url_for('main.blog', id = blog.id)}}'>
                    <h3>{{blog.blog_title}}</h3>
                    <h4>
                        {{blog.blog_content | truncate (45)}}
                    </h4>
                </a>
                <p>
                    Posted by <a href= "{{url_for('main.profile', id = blog.user_id)}}">{{blog.written_by}}</a> on {{blog.posted_at.strftime('%B %d, %Y')}}
                </p>


                {% endfor %}
            </div>
        </div>
    </div>
</div>

{%endblock%}